*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.calculator-container{
    border: 2px solid rgb(0, 0, 0);
    flex-basis: 380px;
    margin-top: 50px;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 55px;
}

.display-screen{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    color: white;
    min-height: 20vh;
    justify-content: flex-end;
    align-items: end;
    font-size: 40PX;
    border: 2px solid orange;
    max-width: 370px;
    display: flex;
}

.btn-container{
    margin: 5px;
    min-height: 9vh;
    padding: 5px 5px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

button{
    min-height: 7vh;
    border-radius: 20px;
    font-weight: 700;
    font-size: 23px;
    flex: 1;
    background-color: rgb(26, 26, 26);
    color: #e3e3e3;
    border: 1px solid rgb(26, 26, 26);
}

.clear-button{
    color: #ff6a25;
}

.equal-button{
    background-color: #1C81FF;
}

.operator{
    color: #5294ff;
}

.copyright{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 12px;
    display: flex;
}

.copyright a{
    text-decoration: none;
    color: white;
}

#logo{
    height: 15px;
}

@media(max-width: 390px){

    .calculator-container{
        min-height: 100vh;
        margin-top: 0;
        border-radius: 0;
    }

    .display-screen{
        margin-bottom: 50px;
    }
}
